.attribution {
  font-size: 1rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.section {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 70%;
  padding: 3rem;
  color: var(--color-neutral-white);
  overflow: hidden;

  &[id^="section"] {
    @media only screen and (max-width: $bp-medium) {
      height: auto;
    }
  }

  &#section1 {
    display: flex;
    background-color: var(--color-primary-orange);

    @media only screen and (max-width: $bp-medium) {
      margin-top: 1rem;
      border-radius: 10px 10px 0 0;
    }
  }

  &#section2 {
    display: flex;
    background-color: var(--color-primary-dark);
  }

  &#section3 {
    display: flex;
    background-color: var(--color-primary-very-dark);

    @media only screen and (max-width: $bp-medium) {
      border-radius: 0 0 10px 10px;
    }
  }

  &__btn {
    margin-top: 5rem;
    padding: 0.9rem 1.5rem;
    border-radius: 30px;
    font-size: 1.2rem;
    font-family: var(--primary-font);
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    @media only screen and (max-width: $bp-large) {
      margin-top: 2rem;
      padding: 0.7rem 1.2rem;
      font-size: 1rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-top: 2rem;
      padding: 0.7rem 1.2rem;
      font-size: 1rem;
    }

    &:hover,
    &:active {
      background-color: transparent;
      border: 1px solid var(--color-neutral-white);
    }
    a {
      text-decoration: none;
      color: inherit;

      &:hover,
      &:active {
        color: var(--color-neutral-gray-light);
      }
    }
    &#btn-one {
      color: var(--color-primary-orange);
    }
    &#btn-two {
      color: var(--color-primary-dark);
    }

    &#btn-three {
      color: var(--color-primary-very-dark);
    }
  }

  &__icon {
    height: 2.5rem;
    width: 4rem;
  }

  &__text {
    .heading {
      font-family: var(--secondary-font);
      color: var(--color-neutral-gray-light);
      font-size: 2.5rem;
      text-align: left;
      text-transform: uppercase;
      padding: 2rem 0;

      @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
        padding: 1rem 0;
      }
    }

    .paragraph {
      font-size: 1.2rem;
      font-family: var(--primary-font);
      line-height: 1.5;

      @media only screen and (max-width: $bp-largest) {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
      }

      @media only screen and (max-width: $bp-medium) {
        font-size: 1rem;
        height: 100%;
        width: 100%;
      }
    }
  }
}
