:root {
  --color-primary-orange: hsl(31, 77%, 52%);
  --color-primary-dark: hsl(184, 100%, 22%);
  --color-primary-very-dark: hsl(179, 100%, 13%);
  --color-neutral-white: hsla(0, 0%, 100%, 0.75);
  --color-neutral-gray-light: hsl(0, 0%, 95%);
  --primary-font: "Lexend Deca", sans-serif;
  --secondary-font: "Big Shoulders Display", cursive;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 93.75%;
}

.container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 2rem;
  }
}

.container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 75%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 68.75em) {
  .container__box {
    height: 100%;
    width: 85%;
  }
}

@media only screen and (max-width: 56.25em) {
  .container__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 85%;
    margin-top: 1rem;
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  width: 70%;
  padding: 3rem;
  color: var(--color-neutral-white);
  overflow: hidden;
}

.section#first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-primary-orange);
}

@media only screen and (max-width: 56.25em) {
  .section#first {
    margin-top: 1rem;
    border-radius: 10px 10px 0 0;
  }
}

.section#second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-primary-dark);
}

.section#third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-primary-very-dark);
}

@media only screen and (max-width: 56.25em) {
  .section#third {
    border-radius: 0 0 10px 10px;
  }
}

.section__btn {
  margin-top: 5rem;
  padding: 0.9rem 1.5rem;
  border-radius: 30px;
  font-size: 1.2rem;
  font-family: var(--primary-font);
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media only screen and (max-width: 68.75em) {
  .section__btn {
    margin-top: 2rem;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .section__btn {
    margin-top: 2rem;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
  }
}

.section__btn:hover, .section__btn:active {
  background-color: transparent;
  border: 1px solid var(--color-neutral-white);
}

.section__btn a {
  text-decoration: none;
  color: inherit;
}

.section__btn a:hover, .section__btn a:active {
  color: var(--color-neutral-gray-light);
}

.section__btn#btn-one {
  color: var(--color-primary-orange);
}

.section__btn#btn-two {
  color: var(--color-primary-dark);
}

.section__btn#btn-three {
  color: var(--color-primary-very-dark);
}

.section__icon {
  height: 2.5rem;
  width: 4rem;
}

.section__text .heading {
  font-family: var(--secondary-font);
  color: var(--color-neutral-gray-light);
  font-size: 2.5rem;
  text-align: left;
  text-transform: uppercase;
  padding: 2rem 0;
}

@media only screen and (max-width: 56.25em) {
  .section__text .heading {
    font-size: 2rem;
    padding: 1rem 0;
  }
}

.section__text .paragraph {
  font-size: 1.2rem;
  font-family: var(--primary-font);
  line-height: 1.5;
}

@media only screen and (max-width: 56.25em) {
  .section__text .paragraph {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 75em) {
  .section__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .section__text {
    height: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */